html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Helvetica, sans-serif;
    background-color: #f0f2f5;
    color: #1c1e21;
}

a {
    color: #385898;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.root {
    width: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.top-section {
    width: 900px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 60px;
}

.left-col {
    max-width: 300px;
    margin-left: 120px;
    position: relative;
    bottom: 40px;
    left: 50px;
}

.left-col .fb-logo {
    color: #046ae3;
    font-size: 44px;
    font-weight: 700;
    margin-bottom: 10px;
}

.left-col .fb-desc {
    font-size: 18px;
}

.right-col {
    width: 200px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    padding: 20px;
    padding-top: 10px;
    position: relative;
    right: 100px;
    text-align: center;
}

.login-form {
    display: flex;
    flex-direction: column;
}

.login-form input {
    font-size: 9px;
    padding: 9px;
    margin-bottom: 10px;
    border: 1px solid #dddfe2;
    border-radius: 6px;
}

.login-form input:focus {
    outline: solid;
    outline-width: 1px;
    outline-color: #1f66ff;
}

.login-form button {
    background-color: #046ae3;
    border: none;
    border-radius: 6px;
    font-size: 12px;
    color: #fff;
    padding: 8px;
    cursor: pointer;
    font-weight: bold;
}

.login-form button:hover {
    background-color: #166fe5;
}

.forgot-password a {
    text-align: center;
    margin: 10px 0 20px 0;
    color: #2f8cf4;
    font-size: 8px;
}

.divider {
    height: 1px;
    background-color: #dadde1;
    margin: 20px 0;
}

.create-account-btn {
    background-color: #42b72a;
    border: none;
    border-radius: 6px;
    font-size: 12px;
    color: #fff;
    font-weight: bold;
    padding: 8px;
    width: 65%;
    cursor: pointer;
}

.create-account-btn:hover {
    background-color: #36a420;
}

.create-page {
    margin-top: 20px;
    text-align: center;
    font-size: 8px;
    max-width: 250px;
    position: relative;
    right: 107px;
}

.create-page a {
    font-weight: 600;
    color: #000000;
}

.footer {
    width: 103%;
    margin-top: 120px;
    font-size: 6px;
    padding-top: 30px;
    background-color: #ffffff;
}

.footer-languages, .footer-links {
    display: flex;
    flex-wrap: wrap;
    padding-left: 20%;
    padding-right: 20%;
    gap: 5px;
    line-height: 1.6;
}

.footer-languages a, .footer-links a {
    color: #737373;
    font-size: 6px;
}

.footer-languages {
    margin-bottom: 10px;
}

.footer-facebook {
    color: #737373;
    padding-left: 20%;
    padding-right: 20%;
    margin-top: 10px;
    margin-bottom: 10px;
}